apiVersion: v1
kind: Service
metadata:
  name: logging-service
  namespace: self-healing-cloud
  labels:
    app: logging-service
    service: logging
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  - name: metrics
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: logging-service
  sessionAffinity: None

